<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>www.flybrownfield.com</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="utf-8"/>
    <link href="/css/main.css" th:href="@{/css/main.css}" rel="stylesheet" media="screen"/>
</head>
<body>
	<nav>
       <ul>
          <li>YCompany Electronic Health Record system </li>
          <li><a th:href="@{/}">New Appointment</a></li>
        </ul>
    </nav> 
  <div align="center" class="form-style-8">
	<h2>Selected Flight</h2>
 <form action="#" th:action="@{/confirm}" th:object="${uidata}" method="post">
 	<h3>
 	<table>
 
     <tbody>
		<tr>
	   	 <td>
		   	 <span th:text="${uidata.newAppointment.doctor.id}"></span>
		   	 <input type="hidden" th:field="${uidata.newAppointment.doctor.id}"/>
	   	 </td>
	  	 <td>
	  	 	<span th:text="${uidata.newAppointment.doctor.fullName}"></span>
	  		 <input type="hidden" th:field="${uidata.newAppointment.doctor.fullName}"/>
	  	 </td>
	 	</tr>
	 	 </tbody>
	</table>
	</h3>
   	<table>
    	  <tr> <td>Full Name </td><td> <input required="required" type="text" th:field="${uidata.newAppointment.patientName}" /> </td></tr>	
	      <tr> <td>Gender </td> 
	      	<td>
	      		<select required="required" th:field="${uidata.newAppointment.patientGender}" >
					  <option value="Male">Male</option>
					  <option value="Female">Female</option>
				</select>
	      	</td>
	      </tr>
	      <tr> <td>Email </td><td> <input required="required" type="text" th:field="${uidata.newAppointment.patientEmail}" /> </td></tr>
	      <tr> <td>Appointment Date </td><td> <input type="date" th:field="${uidata.newAppointment.date}" /> </td></tr>
	      <tr> <td><input type="submit" value="Confirm" /> </td></tr>	
	   </table>
    </form>
  </div>
</body>
</html>